body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #f4f4f4;
}

button:disabled {
  opacity: 0.6;
  user-select: none;
  cursor: not-allowed;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5 ease-in-out;
  z-index: 10000;
}

.invisible {
  opacity: 0;
}

.hide {
  display: none !important;
}

@keyframes ldio-qocs2comepl {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-qocs2comepl div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #ba0813;
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-qocs2comepl div {
  animation: ldio-qocs2comepl 1s linear infinite;
  top: 100px;
  left: 100px;
}

.loadingio-spinner-rolling-2bsdorgxae {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.ldio-qocs2comepl {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-qocs2comepl div {
  box-sizing: content-box;
}

.bucks-mobile,
.about__bg-mobile {
  display: none;
}

.bucks-desctop,
.about__bg-desctop {
  display: block;
}

.iti__selected-dial-code,
.iti__arrow {
  color: #000 !important;
  border-top-color: #000 !important;
}

.iti {
  width: 100% !important;
}

.iti__country {
  color: #000 !important;
}

.iti.iti--allow-dropdown.iti--separate-dial-code.phoneWrapper {
  width: 100% !important;
}

.iti.iti--allow-dropdown.iti--separate-dial-code.phoneWrapper input {
  width: 100%;
}

.jw-state-idle .jw-title,
.jwplayer.jw-state-complete:not(.jw-flag-casting):not(.jw-flag-audio-player):not(.jw-flag-overlay-open-related)
  .jw-title,
body .jwplayer.jw-state-error .jw-title {
  display: none !important;
}

.header {
  background-color: #f4f4f4;
}

.header__logo {
  padding: 10px 0;
}

.header__logo img {
  width: 80px;
}

.main {
  padding: 140px 0;
  background-color: #ffffff;
}

.main .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.06em;
  color: #353535;
  margin-bottom: 35px;
}

.main__text {
  max-width: 616px;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.06em;
  color: #797979;
}

.main__buttons {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__buttons-link {
  width: 306px;
  background: linear-gradient(267.27deg, #d83c3c 4.06%, #3c0000 133.67%);
  border-radius: 84px;
  text-align: center;
  margin-right: 25px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main__buttons-link:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 5px 11px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 13px -7px #000000, 0px 7px 5px 11px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main__buttons-link a {
  position: relative;
  display: block;
  padding: 22px 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.06em;
  color: #ffffff;
  text-decoration: none;
}

.main__buttons-link a img {
  margin-right: 15px;
}

.main__buttons-video {
  width: 306px;
  border: double 2px transparent;
  border-radius: 84px;
  text-align: center;
  background-image: linear-gradient(white, white), linear-gradient(267.27deg, #d83c3c 4.06%, #3c0000 133.67%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main__buttons-video:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 5px 11px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 13px -7px #000000, 0px 7px 5px 11px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main__buttons-video a {
  display: block;
  padding: 22px 0;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.06em;
  color: #3c0000;
  text-decoration: none;
}

.main__buttons-video a img {
  margin-right: 20px;
}

.video {
  padding: 40px 0 100px;
  background-color: #f4f4f4;
}

.video__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.06em;
  color: #797979;
  margin-bottom: 30px;
}

.video__wrapper {
  max-width: 1076px;
  display: block;
  margin: 0 auto;
}

.baltic {
  padding: 100px 0 150px;
  position: relative;
  background-color: #ffffff;
}

.baltic-bubbles {
  position: absolute;
  bottom: 25%;
  left: 2%;
}

.baltic-bubbles img {
  width: 80%;
}

.baltic__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.baltic__block-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.06em;
  color: #d83c3c;
  margin-bottom: 60px;
}

.baltic__block-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.06em;
  color: #797979;
}

.baltic__map img {
  width: 100%;
}

.graph {
  background-color: #f4f4f4;
  padding: 80px 0 50px;
  position: relative;
}

.graph-bubbles {
  position: absolute;
  right: 0;
  bottom: 10%;
}

.graph__row {
  margin-bottom: 190px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.graph__price img {
  width: 100%;
}

.graph__block-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.06em;
  color: #d83c3c;
}

.graph__block-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.06em;
  color: #797979;
}

.graph__link {
  margin: 0 auto;
}

.about {
  background: url("../images/bg1.jpg") top center no-repeat;
  background-size: cover;
}

.about-top {
  max-width: 800px;
  border-bottom: 80px solid #d83c3c;
  border-right: 80px solid #f4f4f4;
  position: relative;
}

.about-top__wrap {
  position: absolute;
  margin-top: 3%;
  margin-left: 25%;
}

.about-top__wrap p {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.06em;
  color: #ffffff;
}

.about__wrapper {
  padding: 100px 0;
  max-width: 1200px;
}

.about__wrapper-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.06em;
  color: #ffffff;
  margin-bottom: 40px;
}

.about__wrapper-text:last-child {
  margin-bottom: 0;
}

.about-border {
  display: block;
  width: 100%;
  height: 17px;
  background: #d83c3c;
}

.features {
  background: url("../images/bg2.avif") top center no-repeat;
  background-size: cover;
  padding: 100px 0px 120px;
}

.features-top {
  margin-top: 50px;
  margin-left: auto;
  max-width: 1080px;
  border-bottom: 80px solid #d83c3c;
  border-left: 80px solid #f4f4f4;
  position: relative;
}

.features-top__wrap {
  position: absolute;
  margin-top: 1%;
}

.features-top__wrap p {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.06em;
  color: #ffffff;
}

.features-border {
  display: block;
  width: 100%;
  height: 17px;
  background: #d83c3c;
}

.features__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
  max-width: 1200px;
}

.features__block:last-child {
  margin-bottom: 0;
}

.features__block-count {
  margin-right: 45px;
}

.features__block-count img {
  width: 50px;
  height: 50px;
}

.features__block-text p {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.06em;
  color: #ffffff;
}

.register {
  background-color: #f4f4f4;
  padding: 150px 0;
}

.register__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.register__form {
  background-color: #ffffff;
  padding: 20px 30px 40px 30px;
}

.register__form-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.06em;
  color: #636363;
  margin-bottom: 40px;
}

.register__form-input {
  margin-bottom: 10px;
}

.register__form-input input {
  height: 42px;
  width: calc(100% - 10px);
  padding-left: 10px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.06em;
  color: #000;
  background-color: #f5f5f5;
  border: none;
}

.register__form-button {
  text-align: center;
  margin-top: 50px;
}

.register__form-button button {
  background: linear-gradient(268.37deg, #d83c3c 3.96%, #3c0000 101.85%);
  width: 306px;
  height: 55px;
  border: none;
  border-radius: 53px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.06em;
  color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.register__form-button button:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 5px 11px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 13px -7px #000000, 0px 7px 5px 11px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.register__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.register__form-row input {
  width: calc(175px - 10px);
}

.register__form-line {
    display: block;
    width: 100%;
    height: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#64bb0a), to(#74c947));
    background: linear-gradient(90deg, #64bb0a, #74c947);
}

.register__wrapper-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.06em;
  color: #353535;
  margin-bottom: 40px;
}

.register__wrapper-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.06em;
  color: #797979;
}

.feedback {
  background-color: #ffffff;
  padding: 120px 0;
  position: relative;
}

.feedback-bubbles-1 {
  position: absolute;
  left: 0;
  top: 15%;
}

.feedback-bubbles-2 {
  position: absolute;
  right: 0;
  top: 50%;
}

.feedback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 160px;
}

.feedback__item-1 {
  padding-top: 130px;
}

.feedback__item-3 {
  padding-top: 130px;
}

.feedback__items {
  max-width: 306px;
}

.feedback__items-photo {
  margin-bottom: 20px;
}

.feedback__items-photo img {
  width: 306px;
}

.feedback__items-name {
  margin-bottom: 20px;
}

.feedback__items-name p {
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
  letter-spacing: -0.06em;
  color: #353535;
}

.feedback__items-line {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#3c0000), to(#d83c3c));
  background: linear-gradient(90deg, #3c0000 0%, #d83c3c 100%);
}

.feedback__items-comment {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.06em;
  color: #797979;
}

.feedback__link {
  margin: 0 auto;
}

.footer {
  padding: 50px 0;
  background: #343434;
  text-align: center;
}

.footer__copy {
  max-width: 650px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer__copy p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.footer__email {
  color: #ffffff;
  margin-bottom: 30px;
}

.footer__pr {
  opacity: 0.1;
}

.footer__pr img {
  width: 25%;
}

@media screen and (max-width: 1800px) {
  .baltic-bubbles {
    left: 0;
  }
  .baltic-bubbles img {
    width: 70%;
  }
  .feedback-bubbles-1 img {
    width: 75%;
  }
  .feedback-bubbles-2 {
    top: 75%;
  }
  .feedback-bubbles-2 img {
    width: 75%;
  }
}

@media screen and (max-width: 1600px) {
  .baltic-bubbles {
    bottom: 5%;
  }
}

@media screen and (max-width: 1400px) {
  .baltic-bubbles img {
    width: 50%;
  }
  .graph-bubbles img {
    width: 75%;
  }
  .register__form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .register__form-row input {
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 1200px) {
  .main__baltic {
    display: none;
  }
  .baltic-bubbles {
    display: none;
  }
  .graph-bubbles {
    display: none;
  }
  .about-top__wrap {
    margin-top: 4%;
  }
  .about-top__wrap p {
    font-size: 32px;
    line-height: 32px;
  }
  .features-top__wrap p {
    font-size: 32px;
    line-height: 32px;
  }
  .register__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .register__wrapper {
    margin-bottom: 20px;
  }
  .feedback {
    padding: 40px 0;
  }
  .feedback__item-1 {
    padding-top: 0;
  }
  .feedback__item-3 {
    padding-top: 0;
  }
  .feedback__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .feedback__items {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: inherit;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .main {
    padding: 85px 0;
  }
  .main__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .main__text {
    font-size: 24px;
    line-height: 25px;
  }
  .main__buttons {
    margin-top: 40px;
  }
  .video {
    padding: 25px 0 50px;
  }
  .video__title {
    font-size: 26px;
    line-height: 26px;
  }
  .baltic {
    padding: 20px 0 80px;
  }
  .baltic__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .baltic__block-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .baltic__block-text {
    font-size: 24px;
    line-height: 25px;
  }
  .graph {
    padding: 15px 0 50px;
  }
  .graph__row {
    margin-bottom: 40px;
  }
  .about-top__wrap p {
    font-size: 28px;
    line-height: 28px;
  }
  .about__wrapper-text {
    font-size: 28px;
    line-height: 28px;
  }
  .features {
    padding: 40px 0px 50px;
  }
  .features-top__wrap p {
    font-size: 28px;
    line-height: 28px;
  }
  .features__block:last-child {
    margin-bottom: 0;
  }
  .features__block-count {
    margin-right: 20px;
  }
  .features__block-text p {
    font-size: 28px;
    line-height: 28px;
  }
  .register {
    padding: 40px 0;
  }
  .register__wrapper-title {
    font-size: 36px;
    line-height: 36px;
  }
  .register__wrapper-text {
    font-size: 24px;
    line-height: 24px;
  }
  .register__form-title {
    font-size: 24px;
    line-height: 24px;
  }
  .feedback-bubbles-1,
  .feedback-bubbles-2 {
    display: none;
  }
  .feedback__wrapper {
    margin-bottom: 20px;
  }
  .feedback__items-photo img {
    width: 100%;
  }
  .feedback__items-name p {
    font-size: 26px;
    line-height: 26px;
  }
  .feedback__items-comment p {
    font-size: 20px;
    line-height: 20px;
  }
  .footer__copy p {
    font-size: 18px;
  }
  .footer__pr img {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  /* .about {
    background: url("../images/about-mobile-bg.png") top center no-repeat;
    background-size: cover;
  } */
  .about-top__wrap {
    margin-top: 6%;
  }
  /* .features {
    background: url("../images/feature-mobile-bg.png") top center no-repeat;
    background-size: cover;
  } */
}

@media screen and (max-width: 680px) {
  .container {
    width: inherit;
  }
  .main__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main__buttons-link {
    width: 250px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .main__buttons-video {
    width: 250px;
  }
  .features-top {
    border-bottom: 120px solid #d83c3c;
  }
  .features-top__wrap {
    margin-top: 3%;
  }
  .register__form-button button {
    max-width: 100%;
  }
  .feedback__link {
    margin: 0 auto;
  }
  .graph__link {
    margin: 0 auto;
  }
  .footer__pr img {
    width: 75%;
  }
}
/*# sourceMappingURL=style.css.map */
@media screen and (max-width: 405px) {
  .features-top__wrap p {
    font-size: 24px;
  }
}